<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Veteriner Uygulaması</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>

<div class="container">
	<div class="row">
			<nav class="col-md-12 navbar navbar-expand-lg navbar-dark bg-dark">
				<a class="navbar-brand" href="#">Navbar</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item active">
							<a class="nav-link" href="/">Anasayfa <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/login">Giriş</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/register">Üye Ol</a>
						</li>
						<li class="nav-item">
							<a class="nav-link " href="/secure">Yönetim Paneli</a>
						</li>
				        <li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							  Müşteriler
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item" href="/customers/customer-insert-panel">Müşteri Ekle</a>
								<a class="dropdown-item" href="/customers/get-all-customers">Müşteriler</a>
							</div>
						</li>
					</ul>
				</div>
			</nav>
		
		<div class="col-md-12">	    		
			<h1 class="h3 mb-3 font-weight-normal">Müşteri Kayıt Bölümü</h1>
		    <hr>	
		</div>
		<div class="col-md-12">
			<span style="font-size: 18px" class="badge badge-info" th:text="'Doktor Adı : ' + ${adminname}"></span>
			<a href="/logout" class="btn btn-danger">Çıkış Yapın</a>
		    <hr>
		</div>

		<div class="col-md-6">
			<img alt=""  class="img-thumbnail " src="https://www.bukrek.com/images/veteriner-gunu.jpg">
		</div>		


		<div class="col-md-6">
			<div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${message}">
				<strong>Successful ! </strong> Kayıt işlemi başarılı... 
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
		    <form autocomplete="off" action="#" th:action="@{/customers/customer-insert-panel}" th:object="${customer}" method="post">

		        <label>Müşteri Adı </label>
		        <input type="text" id="firstName" placeholder="First Name" th:field="*{firstname}" class="form-control"/><br/>
		
		        <label>Müşteri Soyadı </label>
		        <input type="text" id="lastname" placeholder="First Name" th:field="*{lastname}" class="form-control"/><br/>
		        
		        <label>Şehir</label>
		        <input type="text" id="city" placeholder=" Email" th:field="*{city}" class="form-control"/><br/>
		
		        <label>Email</label>
		        <input type="email" id="email" placeholder=" Email" th:field="*{email}" class="form-control"/><br/>
		        
		        <button type="submit" class="btn btn-primary text-center form-control">Kaydet</button>
		    </form>
    		<div class="margin-top20 text-center"><a th:href="@{/customers}">Müşterileri Gör</a></div>
		</div>
		
		
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>