<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Veteriner Uygulaması</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="row">
			<div lang="tr" th:replace="fragments/header :: header"></div> 
			<div lang="tr" th:replace="fragments/header :: title"></div>
			<div class="col-md-12"></div>
			<div class="col-md-4">
				<a class="btn btn-success" href="/customers/customers">Müşterileri Görüntüle</a>
				<a class="btn btn-info" href="/customers/insert-customer">Musteri Ekle</a>
				<hr>
				<div class="card" style="width: 18rem;">
					<div class="card-header">
					Featured
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item" th:text="${customer.getFirstname()}"></li>
						<li class="list-group-item" th:text="${customer.getLastname()}"></li>
						<li class="list-group-item" th:text="${customer.getPhone_number()}"></li>
						<li class="list-group-item" th:text="${customer.getCity()}"></li>
						<li class="list-group-item" th:text="${customer.getEmail()}"></li>
					</ul>	
					<div class="card-body">
						<a th:href="@{'/customers/show-customer/' + ${customer.getCustomerid()}}" class="btn btn-info btn-sm">Profili Görüntüle</a>
						<a th:href="@{'/customers/update-customer/' + ${customer.getCustomerid()}}" class="btn btn-success btn-sm">Güncelle</a>
						<a th:href="@{'/customers/delete-customer/' + ${customer.getCustomerid()}}" class="btn btn-danger btn-sm" 
								onclick="return confirm('Are you sure you want to delete this item?');">Sil</a>
					</div>
				</div>
			</div>
			<div class="col-md-8" >
				<a class="btn btn-warning" th:href="@{'/pets/show-pets/' + ${customer.getCustomerid()}}">Hayvanları Görüntüle</a>
				<a class="btn btn-warning" th:href="@{'/pets/insert-pet/' + ${customer.getCustomerid()}}">Hayvan Ekle</a>
			    <hr>
				<img alt=""  class="img-thumbnail " src="https://www.bukrek.com/images/veteriner-gunu.jpg">
			</div>
		
		</div>
	</div>
	
	<div lang="tr" th:replace="fragments/header :: jsfile"></div>
	</body>
</html>