<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Veteriner Uygulaması</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="row">
			<div lang="tr" th:replace="fragments/header :: header"></div> 
			<div lang="tr" th:replace="fragments/header :: title"></div>
			<div class="col-md-12"></div>
			<div class="col-md-4"  >
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="..." alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title"><span class="badge badge-primary" >Müşteri Bilgileri</span></h5>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item" th:text="${customer.getFirstname()}+' '+${customer.getLastname()}"></li>
						<li class="list-group-item" th:text="${customer.getCity()}"></li>
						<li class="list-group-item" th:text="${customer.getEmail()}"></li>
					</ul>
					<div class="card-body">
						<a th:href="@{'/customers/show-customer/' + ${customer.getCustomerid()}}" class="btn btn-info btn-sm">Göster</a>
						<a th:href="@{'/customers/update-customer/' + ${customer.getCustomerid()}}" class="btn btn-danger btn-sm">Güncelle</a>
						<a th:href="@{'/customers/delete-customer/' + ${customer.getCustomerid()}}" class="btn btn-warning btn-sm" 
							onclick="return confirm('Are you sure you want to delete this item?');">Sil</a>
					</div>
				</div>
			</div>
			<div class="col-md-8" style="border:3px solid #ddd; padding: 5px 5px;" >
				<h1 class="h3 mb-3 font-weight-normal"><span class="badge badge-info" >Hayvan Ekleme Bölümü</span></h1>
				<div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${message}">
					<strong th:text="${message}"></strong> 
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
			    <form autocomplete="off" action="#" th:action="@{'/customers/insert-pet/' + ${customer.getCustomerid()}}" th:object="${pet}" method="post">
			        <label>Hayvan Tipi </label>
			        <input type="text" id="firstName" placeholder="Hayvan tipi" th:field="*{type}" class="form-control"  required="required" /><br/>
			        <label>Hayvan İsmi</label>
			        <input type="text" id="email" placeholder=" Hayvan ismi" th:field="*{name}" class="form-control" required="required"/><br/>
			        <label>Sağlık Problemi </label>
			        <input type="text" id="password" placeholder="Sağlık Problemi " th:field="*{problem}" class="form-control" required="required"/><br/>
			        <button type="submit" class="btn btn-primary text-center form-control">Ekle</button>
			    </form>
			</div>
			<div class="col-md-12" >
				<hr>
				<h3><span class="badge badge-info" >Kayıtlı Hayvanların Listesi</span></h3>
			    <hr>	
				<table class="table table-striped table-sm">
					<thead>
						<tr>
							<th scope="col">Tipi</th>
							<th scope="col">ismi</th>
							<th scope="col">Sağlık Problemi</th>
							<th scope="col">İşlemler</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="singlePet : ${pets}">
							<td th:text="${singlePet.getType()}"></td>
							<td th:text="${singlePet.getName()}"></td>
							<td th:text="${singlePet.getProblem()}"></td>
							<td>
								<a th:href="@{'/pets/delete-pet/' + ${singlePet.getId()}}" class="btn btn-warning btn-sm" 
									onclick="return confirm('Are you sure you want to delete this item?');" >Sil</a>
							</td>
						</tr>
					</tbody>
				</table>
			    <hr>	
			</div>
		</div>
	</div>
	
	<div lang="tr" th:replace="fragments/header :: jsfile"></div>
	</body>
</html>