<meta charset="utf-8" />
			<nav lang="tr" class="col-md-12 navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="header">
				<a class="navbar-brand" href="#">Navbar</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item active">
							<a class="nav-link" href="/">Anasayfa <span class="sr-only">(current)</span></a>
						</li>
				        <li class="nav-item dropdown" th:if="${adminname}">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							  Musteriler
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" >
								<a class="dropdown-item" href="/customers/insert-customer">Musteri Ekle</a>
								<a class="dropdown-item" href="/customers/customers">Musteriler</a>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link " href="/admin-panel">Yonetim Paneli</a>
						</li>
						<li class="nav-item" th:unless="${adminname}">
							<a class="nav-link" href="/login">Giris</a>
						</li>
						<li class="nav-item" th:unless="${adminname}">
							<a class="nav-link" href="/register">Uye Ol</a>
						</li>
					</ul>
				</div>
			</nav>
			<div class="col-md-12 row" th:fragment="title">
			    <div class="col-md-10" >
				    <hr>
					<h1 class="h3 mb-3 font-weight-normal"><span class="badge badge-info" th:text="${title}">></span></h1>
					</div>
				<div class="col-md-2" th:if="${adminname}">
					<hr>
					
					<div class="btn-group" role="group">
						<button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" 
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${adminname}">
						
						</button>
						<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
							<a class="dropdown-item" th:href="@{'/users/show-user/' + ${adminname}}">Göster</a>
							<a class="dropdown-item" th:href="@{'/users/update-user/' + ${adminname}}">Güncelle</a>
							<a href="/logout" class="dropdown-item">Çıkış Yapın</a>
						</div>
					</div>

				</div>
			</div>
			
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous" th:fragment="jsfile"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous" th:fragment="jsfile"></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous" th:fragment="jsfile"></script>
